/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

ul {
	list-style: none;
}

li {
	display: inline;
}

body {
	font-family: 'Archivo Narrow', sans-serif;
}

#logo{
	width:50px;
	margin-top: 5px;
	margin-right: 2px;
}

.brand_logo{
	font-size: 40px;
}

.search li {
	padding: 10px;
}

.search ul {
		margin: auto;
    width: 67%;
    padding: 10px;
 }

 .bg_image {
 	background-image: url("/images/study7.jpg");
 	max-width: 100%;
 	height: 450px;

 }

.break h3 {
	text-align: center;
}

.login
{
	margin-right: 20px;
	font-size: 24px;
}

.info{
	margin-top: 25px;
}

.star-rating {
	font-size: 24px;
	margin-left: 12px;
}








